---
interface Props {
  from: string;
  to?: string;
}

const { from, to } = Astro.props;
---

<div class="text-blue text-15 font-normal">
  <time datetime={from}>{from}</time>
  {
    to && (
      <>
        {" - "}
        <time datetime={to}>{to}</time>
      </>
    )
  }
</div>
