---
interface Props {
  from: string;
  to?: string;
}

const { from, to } = Astro.props;
---

<div
  class="text-blue text-13 font-normal text-nowrap shrink-0 ml-4 mt-1 lg:mt-0"
>
  <time datetime={from}>{from}</time>
  {
    to && (
      <>
        {" - "}
        <time datetime={to}>{to}</time>
      </>
    )
  }
</div>
