---
import { SITE } from "../data/site";
---

<footer class="bg-black text-white selection:bg-white selection:text-black">
  <div class="h-120 max-w-360 mx-auto py-4 flex flex-col px-8">
    <div class="grid place-items-center flex-1">
      <div class="text-center">
        <p class="font-light mb-1 text-xl">( Reach out )</p>
        <strong class="font-normal text-4xl lowercase">
          {SITE.email}
        </strong>
      </div>
    </div>

    <div class="flex justify-between items-end">
      <div class="flex gap-8">
        <a
          class="uppercase cursor-pointer"
          href={SITE.socials.linkedin}
          target="_blank"
          rel="noopener noreferrer"
        >
          linkedin [↗]
        </a>
        <a
          class="uppercase cursor-pointer"
          href={SITE.socials.github}
          target="_blank"
          rel="noopener noreferrer"
        >
          github [↗]
        </a>
      </div>

      <p class="text-end">
        ©<time datetime="2026">2026</time>
        <br />
        all rights reserved
      </p>
    </div>
  </div>
</footer>
