<header class="bg-blue text-white px-8 py-4 w-full">
  <div class="flex gap-8 items-start">
    <a
      href="#"
      class="inline-flex flex-col gap-0.5 hover:bg-white hover:text-blue px-0.5"
    >
      <span>Erick Gustavo</span>
      <span>Web Developer</span>
    </a>

    <nav class="inline-flex flex-col gap-0.5">
      <a href="#experiences" class="hover:bg-white hover:text-blue px-0.5"
        >Experiences</a
      >
      <a href="#projects" class="hover:bg-white hover:text-blue px-0.5"
        >Projects</a
      >
      <a href="/blog" class="hover:bg-white hover:text-blue px-0.5">Writing</a>
    </nav>

    <button class="hover:bg-white hover:text-blue uppercase cursor-pointer"
      >[email]</button
    >
  </div>
</header>
