---
import { SITE } from "../data/site";
import ScrambleIn from "./ui/ScrambleIn";
import ScrambleText from "./ui/ScrambleText";
---

<header
  class="max-w-360 mx-auto bg-blue text-white px-8 py-4 w-full flex items-start justify-between selection:bg-white selection:text-blue"
>
  <div class="flex gap-8 items-start min-w-85!">
    <a
      href="#"
      class="inline-flex flex-col gap-0.5 hover:bg-white hover:text-blue px-0.5"
    >
      <h1 class="contents">
        <ScrambleText client:visible text="Erick Gustavo" />
        <ScrambleText client:visible text="Web Developer" />
      </h1>
    </a>

    <nav aria-label="Main navigation" class="inline-flex flex-col gap-0.5">
      <a href="#experiences" class="hover:bg-white hover:text-blue px-0.5">
        <ScrambleText client:visible text="Experiences" />
      </a>
      <a href="#projects" class="hover:bg-white hover:text-blue px-0.5">
        <ScrambleText client:visible text="Projects" />
      </a>
      <a aria-disabled="true">
        <ScrambleIn
          client:visible
          text="Writing"
          className="cursor-not-allowed hover:line-through px-0.5"
        />
      </a>
    </nav>

    <button
      type="button"
      aria-label="Copy email address to clipboard"
      class="hover:bg-white hover:text-blue uppercase cursor-pointer after:content-[attr(data-copied-label)] after:block after:h-0 after:invisible after:overflow-hidden after:pointer-events-none text-start"
      data-email={SITE.email}
      data-default-label="[email]"
      data-copied-label="[copied]"
    >
      <ScrambleIn client:visible text="[email]" />
    </button>
  </div>

  <p class="max-w-93 w-full">
    <ScrambleIn client:visible scrambleSpeed={25} text={SITE.description} />
  </p>

  <div class="flex flex-col gap-0.5 text-end">
    <span data-local-time>--:--:-- BRT</span>
    <a
      href={SITE.socials.linkedin}
      target="_blank"
      rel="noopener noreferrer"
      class="hover:bg-white hover:text-blue py-px px-0.5 uppercase"
    >
      <ScrambleText client:visible text="LinkedIn [↗]" />
    </a>
    <a
      href={SITE.socials.github}
      target="_blank"
      rel="noopener noreferrer"
      class="hover:bg-white hover:text-blue py-px px-0.5 uppercase"
    >
      <ScrambleText client:visible text="Github [↗]" />
    </a>
  </div>
</header>

<script>
  import "../scripts/email-copy";
  import "../scripts/clock";
</script>
