<header
  class="bg-blue text-white px-8 py-4 w-full flex items-start justify-between"
>
  <div class="flex gap-8 items-start">
    <a
      href="#"
      class="inline-flex flex-col gap-0.5 hover:bg-white hover:text-blue px-0.5"
    >
      <span>Erick Gustavo</span>
      <span>Web Developer</span>
    </a>

    <nav class="inline-flex flex-col gap-0.5">
      <a href="#experiences" class="hover:bg-white hover:text-blue px-0.5"
        >Experiences</a
      >
      <a href="#projects" class="hover:bg-white hover:text-blue px-0.5"
        >Projects</a
      >
      <a href="/blog" class="hover:bg-white hover:text-blue px-0.5">Writing</a>
    </nav>

    <button
      type="button"
      class="hover:bg-white hover:text-blue uppercase cursor-pointer"
      data-email="erick.prussak@gmail.com"
      data-default-label="[email]"
      data-copied-label="[copied]"
    >
      [email]
    </button>
  </div>

  <p class="max-w-93">
    Passionate web developer crafting responsive, accessible digital experiences
    with thoughtful attention to detail.
  </p>

  <div class="flex flex-col gap-0.5">
    <span>02:16:34 BRT</span>
    <a
      href="https://www.linkedin.com/in/erickgust/"
      target="_blank"
      rel="noopener"
      class="hover:bg-white hover:text-blue uppercase">Linkedin [🡭]</a
    >
    <a
      href="https://github.com/erickgust"
      target="_blank"
      rel="noopener"
      class="hover:bg-white hover:text-blue uppercase">Github [🡭]</a
    >
  </div>
</header>

<script>
  const emailButton = document.querySelector(
    "button[data-email][data-default-label][data-copied-label]",
  );

  const isEmailButton = emailButton instanceof HTMLButtonElement;

  if (isEmailButton) {
    let resetTimer: number;

    emailButton.addEventListener("click", async () => {
      const email = emailButton.dataset.email;
      if (!email) return;

      try {
        await navigator.clipboard.writeText(email);
        emailButton.textContent = emailButton.dataset.copiedLabel ?? "[copied]";
      } catch {
        emailButton.textContent = "[failed to copy]";
      }

      if (resetTimer) {
        clearTimeout(resetTimer);
      }

      resetTimer = setTimeout(() => {
        emailButton.textContent = emailButton.dataset.defaultLabel ?? "[email]";
      }, 2000);
    });
  }
</script>
