---
interface Props {
  tech: string;
  href: string;
  label: string;
}

const { tech, href, label } = Astro.props;
---

<div
  class="text-xs relative flex justify-between after:content-[''] after:block after:h-px after:bg-blue after:absolute after:left-0 after:right-0 after:bottom-0"
>
  <span
    class="text-white bg-blue selection:text-blue! selection:bg-white px-0.5 py-px"
    >{tech}</span
  >

  <a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    class="text-blue hover:text-white hover:bg-blue py-px px-0.5 uppercase"
    >{label} [↗]</a
  >
</div>
