---
import Layout from "../layouts/Layout.astro";
import TITLE_TEXT from "../ascii.txt?raw";
---

<Layout title="erick - web developer">
  <div>
    <pre
      class="overflow-x-hidden w-full text-center font-mono text-sm absolute select-none bottom-0">{TITLE_TEXT}</pre>
  </div>
</Layout>
