---
import Layout from "../layouts/Layout.astro";
import TITLE_TEXT from "../ascii.txt?raw";
import Header from "../components/Header.astro";
import { Image } from "astro:assets";
import ImageQSMP from "./qsmp.png";
import ImageTMDB from "./tmdb.png";
import ImageMyContacts from "./mycontacts.png";

import FaleLogo from "./assets/experiences/falecomigo.svg";
import QuackSLogo from "./assets/experiences/quacks.svg";
import UpLogo from "./assets/experiences/up.svg";
import UniLogo from "./assets/experiences/uni.svg";
---

<Layout title="erick — web developer">
  <div class="h-svh flex flex-col gap-8 justify-between">
    <Header />
    <pre
      class="w-full text-center select-none overflow-hidden">{TITLE_TEXT}</pre>
  </div>

  <main
    class="bg-white text-black py-16 space-y-16 selection:text-white selection:bg-blue"
  >
    <section id="projects" class="max-w-266 mx-auto space-y-8">
      <article>
        <div
          class="text-xs relative flex justify-between after:content-[''] after:block after:h-px after:bg-blue after:absolute after:left-0 after:right-0 after:bottom-0"
        >
          <span
            class="text-white bg-blue selection:text-blue! selection:bg-white px-0.5 py-px"
            >Tailwind + TypeScript + Next.js</span
          >

          <a
            href="https://qsmpco.netlify.app/"
            target="_blank"
            rel="noopener"
            class="text-blue hover:text-white hover:bg-blue py-px px-0.5 uppercase"
            >Live Site [↗]</a
          >
        </div>
        <div
          class="flex justify-between pl-4 pt-4 after:content-[''] after:block after:h-26 after:bg-blue after:absolute after:left-0 after:top-0 after:w-px relative"
        >
          <h1 class="w-95 font-sans text-6.5xl leading-none normal-case">
            QSMP.co
          </h1>

          <div class="max-w-64 text-xs font-light [&>p+p]:mt-4">
            <p>
              The official portal of the QSMP project, a multilingual Minecraft
              server with real-time translation, connecting content creators
              from different regions and languages.
            </p>
            <p>
              The website's goal was to centralize the main information about
              the server and its participants, as well as sections dedicated to
              project updates.
            </p>
          </div>

          <Image
            src={ImageQSMP}
            alt="QSMP website preview"
            class="select-none pointer-events-none"
          />
        </div>
      </article>
      <article>
        <div
          class="text-xs relative flex justify-between after:content-[''] after:block after:h-px after:bg-blue after:absolute after:left-0 after:right-0 after:bottom-0"
        >
          <span
            class="text-white bg-blue selection:text-blue! selection:bg-white px-0.5 py-px"
            >React.js + TypeScript + Tailwind</span
          >

          <a
            href="https://erickgust-tmdb.netlify.app/"
            target="_blank"
            rel="noopener"
            class="text-blue hover:text-white hover:bg-blue py-px px-0.5 uppercase"
            >Live Site [↗]</a
          >
        </div>
        <div
          class="flex justify-between pl-4 pt-4 after:content-[''] after:block after:h-26 after:bg-blue after:absolute after:left-0 after:top-0 after:w-px relative"
        >
          <h1 class="w-95 font-sans text-6.5xl leading-none normal-case">
            TMDB Movies
          </h1>

          <div class="max-w-64 text-xs font-light [&>p+p]:mt-4">
            <p>
              TMDB Movies is a project that lets you browse a list of trending
              movies, filtered by various genres. By selecting a movie, you can
              view details such as rating, synopsis, cast, genres, and
              certification.
            </p>
            <p>
              built in TypeScript and React to explore React Query features
              combined with React Router.
            </p>
          </div>

          <Image
            src={ImageTMDB}
            alt="TMDB Movies website preview"
            class="select-none pointer-events-none"
          />
        </div>
      </article>
      <article>
        <div
          class="text-xs relative flex justify-between after:content-[''] after:block after:h-px after:bg-blue after:absolute after:left-0 after:right-0 after:bottom-0"
        >
          <span
            class="text-white bg-blue selection:text-blue! selection:bg-white px-0.5 py-px"
            >React.js + TypeScript + Node.js</span
          >

          <a
            href="https://github.com/erickgust/my-contacts-front/"
            target="_blank"
            rel="noopener"
            class="text-blue hover:text-white hover:bg-blue py-px px-0.5 uppercase"
            >Repository [↗]</a
          >
        </div>
        <div
          class="flex justify-between pl-4 pt-4 after:content-[''] after:block after:h-26 after:bg-blue after:absolute after:left-0 after:top-0 after:w-px relative"
        >
          <h1 class="w-95 font-sans text-6.5xl leading-none normal-case">
            MyContacts
          </h1>

          <div class="max-w-64 text-xs font-light [&>p+p]:mt-4">
            <p>
              MyContacts was a project where I explored React and React Router
              more in-depth by building a contact management feature, as well as
              organize them by categories.
            </p>
            <p>
              I also had the opportunity to develop a REST API in Node.js with
              Express, which connects to a Docker environment running
              PostgreSQL.
            </p>
          </div>

          <Image
            src={ImageMyContacts}
            alt="MyContacts website preview"
            class="select-none pointer-events-none"
          />
        </div>
      </article>
    </section>

    <section id="experiences" class="max-w-266 mx-auto space-y-8">
      <article>
        <div
          class="after:content-[''] after:block after:h-px after:bg-blue after:absolute after:left-0 after:right-0 after:bottom-0 relative flex justify-between"
        >
          <div class="flex items-center gap-3">
            <FaleLogo class="size-12" />

            <div class="flex flex-col gap-0.5">
              <strong class="font-semibold text-lg/5.5">falecomigo.ai</strong>
              <span class="text-base/none pb-1">Frontend developer</span>
            </div>
          </div>

          <div class="text-blue text-base font-normal">
            <time datetime="2025">2025</time>
          </div>
        </div>

        <div
          class="after:content-[''] after:block after:h-16 after:bg-blue after:absolute after:left-0 after:top-0 after:w-px relative py-2 pl-3"
        >
          <p class="text-xs font-light max-w-162">
            At UpBase, I demonstrated my expertise in NextJS, React Native and
            TypeScript by contributing to the development of mobile and web
            projects. I worked closely with client feedback to align with their
            needs and consistently deliver results.
          </p>
        </div>
      </article>

      <article>
        <div
          class="after:content-[''] after:block after:h-px after:bg-blue after:absolute after:left-0 after:right-0 after:bottom-0 relative flex justify-between"
        >
          <div class="flex items-center gap-3">
            <QuackSLogo class="size-12" />

            <div class="flex flex-col gap-0.5">
              <strong class="font-semibold text-lg/5.5">Quackity Studios</strong
              >
              <span class="text-base/none pb-1">Frontend developer</span>
            </div>
          </div>

          <div class="text-blue text-base font-normal">
            <time datetime="2023">2023</time>
            -
            <time datetime="2024">2024</time>
          </div>
        </div>

        <div
          class="after:content-[''] after:block after:h-16 after:bg-blue after:absolute after:left-0 after:top-0 after:w-px relative py-2 pl-3"
        >
          <p class="text-xs font-light max-w-162">
            As part of an international team, I contributed to multilingual
            projects built with Next.js and TypeScript, designed to handle high
            volumes of simultaneous users, with a strong focus on optimizing
            user experience and performance.
          </p>
        </div>
      </article>

      <article>
        <div
          class="after:content-[''] after:block after:h-px after:bg-blue after:absolute after:left-0 after:right-0 after:bottom-0 relative flex justify-between"
        >
          <div class="flex items-center gap-3">
            <UpLogo class="size-12" />

            <div class="flex flex-col gap-0.5">
              <strong class="font-semibold text-lg/5.5"
                >UpBase Consultoria</strong
              >
              <span class="text-base/none pb-1">Frontend Intern</span>
            </div>
          </div>

          <div class="text-blue text-base font-normal">
            <time datetime="2022">2022</time>
            -
            <time datetime="2023">2023</time>
          </div>
        </div>

        <div
          class="after:content-[''] after:block after:h-16 after:bg-blue after:absolute after:left-0 after:top-0 after:w-px relative py-2 pl-3"
        >
          <p class="text-xs font-light max-w-162">
            At UpBase, I demonstrated my expertise in NextJS, React Native and
            TypeScript by contributing to the development of mobile and web
            projects. I worked closely with client feedback to align with their
            needs and consistently deliver results.
          </p>
        </div>
      </article>

      <article>
        <div
          class="after:content-[''] after:block after:h-px after:bg-blue after:absolute after:left-0 after:right-0 after:bottom-0 relative flex justify-between"
        >
          <div class="flex items-center gap-3">
            <UniLogo class="size-12" />

            <div class="flex flex-col gap-0.5">
              <strong class="font-semibold text-lg/5.5"
                >Universidade Cesumar</strong
              >
              <span class="text-base/none pb-1"
                >Associate Degree in Software Development</span
              >
            </div>
          </div>

          <div class="text-blue text-base font-normal">
            <time datetime="2022">2022</time>
            -
            <time datetime="2025">2025</time>
          </div>
        </div>

        <div
          class="after:content-[''] after:block after:h-16 after:bg-blue after:absolute after:left-0 after:top-0 after:w-px relative py-2 pl-3"
        >
          <p class="text-xs font-light max-w-162">
            I gained hands-on experience across the full software development
            lifecycle, from requirements gathering to deployment and
            maintenance. I also worked on interface design from wireframes to
            high-fidelity prototypes, and strengthened my skills in algorithms,
            data structures (Java, C), and database management with MySQL.
          </p>
        </div>
      </article>
    </section>
  </main>

  <footer class="bg-black text-white selection:bg-white selection:text-black">
    <div class="h-120 max-w-360 mx-auto py-4 flex flex-col px-8">
      <div class="grid place-items-center flex-1">
        <div class="text-center">
          <p class="font-light mb-1 text-xl">( Reach out )</p>
          <strong class="font-normal text-4xl lowercase">
            hello@erickgust.dev
          </strong>
        </div>
      </div>

      <div class="flex justify-between items-end">
        <div class="flex gap-8">
          <a
            class="uppercase cursor-pointer"
            href="https://www.linkedin.com/in/erickgust/"
            target="_blank"
            rel="noopener"
          >
            linkedin [↗]
          </a>
          <a
            class="uppercase cursor-pointer"
            href="https://github.com/erickgust"
            target="_blank"
            rel="noopener"
          >
            github [↗]
          </a>
        </div>

        <p class="text-end">
          ©2026
          <br />
          all rights reserved
        </p>
      </div>
    </div>
  </footer>
</Layout>
